@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Nunito+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap');

:root{
    --bgColor: #f0f0e8;
    --navbarColor: #98bf64;
    --defaultFont: "Nunito Sans", sans-serif;
    --aboutFont: "Montserrat", sans-serif;
}

body{
    background-color: var(--bgColor);
    margin: 0;
    font-family: var(--defaultFont);
}

.navbar-custom {
    background-color: var(--navbarColor);

}
.carousel {
    width:640px;
    height:640px;
  }
.carousel-control-next,
.carousel-indicators,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
}
.about-section{
    text-align: center;
}
.feedback.h1{
    text-align: center;
}

form{
    background-color: #98bf64;
}

  .container {
    border-radius: 5px;
    background-color: var(--navbarColor);
  }


.form-check-input:disabled{
    opacity: 1;
}

.form-check-input:checked{
    background-color: #98bf64;
    border: #98bf64;
}

/* FAQ Accordion */
.accordion-button{
    background-color: #f2da9a;
    font-weight:bold;
}

.accordion-button:focus {
    border-color: #856817;
    box-shadow: 0 0 0 .25rem rgba(133,104,23,.25)
}

.accordion-button:not(.collapsed){
    color: #856817;
    background-color: #edcf7b;
}

.accordion-body{
    background-color: #f2da9a;
}

.profile-container {
    position: absolute;
    left: 3.75rem;
}

.profile-container .profile-container-profile-view {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.profile-container .profile-container-profile-view .profile-left-section {
    width: 40%;
}

.profile-container .profile-container-profile-view .profile-right-section {
    width: 60%;
}
.profile-right-section .profile-form {
    padding: 0 20px;
}
.profile-right-section .profile-form-header {
    padding: 60px 0 15px;
}

@media screen and (max-width: 767px) {
    .profile-container .profile-container-profile-view {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .profile-container .profile-container-profile-view .profile-left-section {
        width: 100%;
    }
    .profile-container .profile-container-profile-view .profile-right-section {
        width: 100%;
    }

    .about-section-one {
        background-size: auto 100vh;
    }
    .about-section-one h1.section-one-main-header {
        font-size: calc(24px + 12vw) !important;
    }

    .text-sections .sections-flex {
        display: flex;
        flex-direction: column;
    }
    .text-sections .sections-flex .section-flex-centered {
        margin-right: 0 !important;
        margin-left: 0 !important;
        padding: 0 15px;
    }
    .text-sections .text-footer-section {
        width: 100%;
    }
    .text-sections .text-footer-section > h1 {
        font-size: calc(22px + 12vw) !important;
    }
    .text-sections .text-footer-section > h4 {
        padding: 0 15px;
    }
}